<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 <mapper namespace="chatbot">
 	
 	<select id="firstMsg" resultType="ChatbotVO">
 		select 
 			A.chatbot_no, A.chatbot_content, count(B.chatbot_no) "count" from 
 			chatbot A left outer join chatbot B on A.chatbot_no = B.super_no
 			where A.super_no is null
 			group by A.chatbot_no, A.chatbot_content
 	</select>
 	
 	<select id="answer" resultType="ChatbotVO" parameterType="int">
 		select 
 			A.chatbot_no, A.chatbot_content, count(B.chatbot_no) "count" from
 			chatbot A left outer join chatbot B on A.chatbot_no = B.super_no
 			where A.super_no = #{superNo}
 			group by A.chatbot_no, A.chatbot_content
 	</select>
 	
 </mapper>